.offices {
  padding: 10px 0 65px;

  &__wrapp {
    display: grid;
    grid-template-columns: 280px auto;
    grid-gap: 10px;
  }

  &__details {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }

  &__title {
    font-family: var(--font-family-cuprum);
    font-size: 21px;
    line-height: 150%;
    font-weight: 700;
  }

  &__items {
    padding-left: 55px;
  }

  &__item {
    border-top: 1px solid #d7d7d7;
    transition: all 0.4s ease;

    &:first-child {
      border-top: 1px solid transparent;

      &:hover {
        border-top: 1px solid #d7d7d7;
      }
    }

    &:last-child {
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid #d7d7d7;
      }
    }
  }

  &__map {
    picture,
    img {
      height: 100%;
    }
  }
}
